<div class="post post-usual">
	<div class="post-usual__heart heart info-box-caller">
	   	<i class="fas fa-heart"></i>
	   	<div class="heart__info-box info-box info-box--attached">
			<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
			Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
			<div class="d-flex">
				<div class="info-box__button button button-mini mr-2">Ok</div>
				<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
			</div>
		</div>
   	</div>
	<div class="post__brief post-usual__brief">
		<a href="#" class="post__heading"><h4>Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?</h4></a>
		<span class="post__date">04.10.2021</span><a href="#" class="post-usual__tag port__tag">#политика</a>
	</div>
</div>