<div class="post post-card">
	<img src="assets/images/local-new.png" alt="article-thumb" class="post-card__image">
	<div class="post-card__brief post__brief">
		<span class="post-card__date">04.10.2021</span>
		<span class="post-card__tags">
			<a href="#" class="post-card__tag">#политика</a>
		</span>
		<a href="#" class="post__heading"><h4>Асимметричная криптография: Что лежит в основе биткоина</h4></a>
	</div>
	<div class="post-card__heart heart info-box-caller">
		<i class="fas fa-heart"></i>
		<div class="info-box info-box--attached">
			<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
			Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
			<div class="d-flex">
				<div class="info-box__button button button-mini mr-2">Ok</div>
				<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
			</div>
		</div>
	</div>
</div>