:root{
	--black: #010101;
	--white: #fff;
	// --red: #00B25D;
	--green: #00B25D;
	--gray: #C4C4C4;
	--lighted: #FFC700;
	// --back-black: #2F2F2F;
	--back-black: #072227;


	--font1: Raleway;
	--main-font: Roboto;
	--special-font: Quantico;

	--box-border-radius: 0.3em;
	--borders: 0.15rem;

	--site-max-weight: 180;
}