{% extends './origin/base.html' %}
{% block title %} Главная {% endblock %}
{% block content %}
	<article class="container-sm s-block-volatility pt-5">
		<div class="row">
			<div class="s-block-volatility__chart-block col-xl-9">
				<div class="">
					<h6 class="s-block-volatility__heading heading">
						<img class="heading__image" src="assets/images/heading.png" alt="logo_heading">
						Волатильность 
						<span style="white-space: nowrap;">
							криптовалют
							<span class="heading__info info-box-caller">
								<i class="fas fa-info-circle"></i>
								<div class="heading__info-box info-box info-box--attached">
									Волатильность криптовалют - это изменчивость цены актива за определенный промежуток времени. Сервис предоставляет информацию об условной волатильности криптовалют, вычисляемой как количество интервалов роста курса на определенный процент в течение заданного периода.
								</div>
							</span>
						</span>
					</h6>
					<div class="s-block-volatility__chart">
						<div class="d-flex flex-wrap s-block-volatility__filter-buttons">
							<div class="s-block-volatility__button button button-sm button-spc button-dropdown">
								Фильтр 
								<i class="fas fa-sort-down button-dropdown__arrow"></i>
								<div class="button-dropdown__options">
									<div class="button-dropdown__option">Опция</div>
									<div class="button-dropdown__option">Опция</div>
									<div class="button-dropdown__option">Опция</div>
								</div>
							</div>
							<div class="s-block-volatility__button button button-sm button-spc button-dropdown">
								Фильтр 
								<i class="fas fa-sort-down button-dropdown__arrow"></i>
								<div class="button-dropdown__options">
									<div class="button-dropdown__option">Опция</div>
									<div class="button-dropdown__option">Опция</div>
									<div class="button-dropdown__option">Опция</div>
								</div>
							</div>
							<div class="s-block-volatility__button button button-sm button-spc button-dropdown">
								Фильтр 
								<i class="fas fa-sort-down button-dropdown__arrow"></i>
								<div class="button-dropdown__options">
									<div class="button-dropdown__option">Опция</div>
									<div class="button-dropdown__option">Опция</div>
									<div class="button-dropdown__option">Опция</div>
								</div>
							</div>
						</div>
						<div  class="s-block-volatility__chart-self">
							<canvas height="300" id="myChart"></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="s-block-volatility__brief-block s-block-volatility__block col-xl-3">
				<div class="">
					<div class="s-block-volatility__banner banner"></div>
					<div class="s-block-volatility__brief-card brief-card">
						<div class="brief-card__head">Курсы криптовалют</div>
						<div class="brief-card__wrapper">
							<table class="brief-card__table">
								<tbody class="brief-card__table-body">
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>

	<div class="s-block-news__back py-5">
		<article class="container-sm s-block-news">
				<h6 class="s-block-news__heading heading">
					<img class="heading__image" src="assets/images/heading.png" alt="logo_heading">
					Новости
					<span class="heading__info info-box-caller">
						<i class="fas fa-info-circle"></i>
						<div class="heading__info-box info-box info-box--attached">
							Здесь собраны актуальные, полезные и интересные новости из сферы криптовалют.
							Новости распределены по категориям: все, Bitcoin, DeFi, Etherium, GameFi, NFT, Альткоины.
							Вы можете добавить понравившуюся новость в избранное. А также сортировать его по созданным вами папкам.
							Сохраненные новости будут отображаться в вашем личном кабинете и во вкладке “Избранное”.
						</div>
					</span>
				</h6>
				<div class="posts-nav">
					<span class="posts-nav__item s-block-news__link info-box-caller">
						все темы
						<div class="info-box info-box--attached info-box--attached-right">
							<span class="info-box__link"><a href="tag.html">#тема </a></span>
							<span class="info-box__link"><a href="tag.html">#тема </a></span>
							<span class="info-box__link"><a href="tag.html">#тема </a></span>
							<span class="info-box__link"><a href="tag.html">#тема </a></span>
							<span class="info-box__link"><a href="tag.html">#тема </a></span>
							<span class="info-box__link"><a href="tag.html">#тема </a></span>
							<span class="info-box__link"><a href="tag.html">#тема </a></span>
							<span class="info-box__link"><a href="tag.html">#тема </a></span>
						</div>
					</span>
					<a href="tag.html" class="posts-nav__item s-block-news__link">DeFi</a>
					<a href="tag.html" class="posts-nav__item s-block-news__link">Etherium</a>
					<a href="tag.html" class="posts-nav__item s-block-news__link">GameFi</a>
					<a href="tag.html" class="posts-nav__item s-block-news__link">NFT</a>
					<a href="tag.html" class="posts-nav__item s-block-news__link">Альткоины</a>
				</div>
				<div class="s-block-news__wrapper row">
					<section class="s-block-news__global-posts col-lg-5">
						<div class="s-block-news__banner banner">
						</div>
						<div class="post post-usual">
							<div class="post-usual__heart heart info-box-caller">
							   	<i class="fas fa-heart"></i>
							   	<div class="heart__info-box info-box info-box--attached">
									<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
									Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
									<div class="d-flex">
										<div class="info-box__button button button-mini mr-2">Ok</div>
										<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
									</div>
								</div>
						   	</div>
							<div class="post__brief post-usual__brief">
								<a href="#" class="post__heading"><h4>Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?</h4></a>
								<span class="post__date">04.10.2021</span><a href="#" class="post-usual__tag port__tag">#политика</a>
							</div>
						</div>
						<div class="post post-usual">
							<div class="post-usual__heart heart info-box-caller">
							   	<i class="fas fa-heart"></i>
							   	<div class="heart__info-box info-box info-box--attached">
									<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
									Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
									<div class="d-flex">
										<div class="info-box__button button button-mini mr-2">Ok</div>
										<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
									</div>
								</div>
						   	</div>
							<div class="post__brief post-usual__brief">
								<a href="#" class="post__heading"><h4>Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?</h4></a>
								<span class="post__date">04.10.2021</span><a href="#" class="post-usual__tag port__tag">#политика</a>
							</div>
						</div>
						<div class="post post-usual">
							<div class="post-usual__heart heart info-box-caller">
							   	<i class="fas fa-heart"></i>
							   	<div class="heart__info-box info-box info-box--attached">
									<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
									Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
									<div class="d-flex">
										<div class="info-box__button button button-mini mr-2">Ok</div>
										<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
									</div>
								</div>
						   	</div>
							<div class="post__brief post-usual__brief">
								<a href="#" class="post__heading"><h4>Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?</h4></a>
								<span class="post__date">04.10.2021</span><a href="#" class="post-usual__tag port__tag">#политика</a>
							</div>
						</div>
					</section>
					<section class="s-block-news__local-posts post-card-grid col-lg-7">
						<div class="post post-card">
					   		<img src="assets/images/local-new.png" alt="article-thumb" class="post-card__image">
					   		<div class="post-card__brief post__brief">
					   			<span class="post-card__date">04.10.2021</span>
					   			<span class="post-card__tags">
						   			<a href="#" class="post-card__tag">#политика</a>
					   			</span>
						   		<a href="#" class="post__heading"><h4>Асимметричная криптография: Что лежит в основе биткоина</h4></a>
					   		</div>
					   		<div class="post-card__heart heart info-box-caller">
							   	<i class="fas fa-heart"></i>
							   	<div class="info-box info-box--attached">
									<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
									Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
									<div class="d-flex">
										<div class="info-box__button button button-mini mr-2">Ok</div>
										<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
									</div>
								</div>
						   	</div>
					   </div>
					   <div class="post post-card">
					   		<img src="assets/images/local-new.png" alt="article-thumb" class="post-card__image">
					   		<div class="post-card__brief post__brief">
					   			<span class="post-card__date">04.10.2021</span>
					   			<span class="post-card__tags">
						   			<a href="#" class="post-card__tag">#политика</a>
					   			</span>
						   		<a href="#" class="post__heading"><h4>Асимметричная криптография: Что лежит в основе биткоина</h4></a>
					   		</div>
					   		<div class="post-card__heart heart info-box-caller">
							   	<i class="fas fa-heart"></i>
							   	<div class="info-box info-box--attached">
									<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
									Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
									<div class="d-flex">
										<div class="info-box__button button button-mini mr-2">Ok</div>
										<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
									</div>
								</div>
						   	</div>
					   </div>
					   <div class="post post-card">
					   		<img src="assets/images/local-new.png" alt="article-thumb" class="post-card__image">
					   		<div class="post-card__brief post__brief">
					   			<span class="post-card__date">04.10.2021</span>
					   			<span class="post-card__tags">
						   			<a href="#" class="post-card__tag">#политика</a>
					   			</span>
						   		<a href="#" class="post__heading"><h4>Асимметричная криптография: Что лежит в основе биткоина</h4></a>
					   		</div>
					   		<div class="post-card__heart heart info-box-caller">
							   	<i class="fas fa-heart"></i>
							   	<div class="info-box info-box--attached">
									<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
									Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
									<div class="d-flex">
										<div class="info-box__button button button-mini mr-2">Ok</div>
										<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
									</div>
								</div>
						   	</div>
					   </div>		  
					</section>
				</div>
		</article>
	</div>

	<div class="s-block-app__back py-5">
		<article class="container-sm s-block-app py-3">
			<div class="s-block-app__wrapper">
				<div class="s-block-app__main  s-block-app__block">
					<h6 class="s-block-app__heading heading">
						Наше приложение
					</h6>
					<div class="s-block-app__market-links">
						<a href="#" class="s-block-app__market-link market-link apple-button">
							<i class="fab fa-apple market-link__icon"></i>
							<br>
							<div class="market-link__text">
								App
								<br> 
								Store
							</div> 
						</a>
						<a href="#" class="s-block-app__market-link market-link google-play-button">
							<i class="fab fa-google-play market-link__icon"></i>
							<div class="market-link__text">	
								Google
								<br>
								Play
							</div>	
						</a>
					</div>
				</div>
				<div class="s-block-app__image  s-block-app__block">
					<img src="assets/images/app.png" alt="app" class="s-block-app__image-self">
				</div>
				<div class="s-block-app__more  s-block-app__block">
					<h6 class="heading s-block-app__heading">
						Тариф PRO
					</h6>
					<ul class="s-block-app__advantages">
						<li>- больше мобильности</li>
						<li>- настраивай уведомления на телефоне или на почте</li>
						<li>- оффлайн доступ</li>
						<li>- никакой рекламы в приложении</li>
					</ul>
				</div>
			</div>
		</article>
	</div>

	<article class="container-sm s-block-popular py-5">
		<div class="">
			<div class="s-block-popular__wrapper">
				<h6 class="s-block-volatility__heading heading">
					<img class="heading__image" src="assets/images/heading.png" alt="logo_heading">
					Популярное
				</h6>
			</div>
			<div class="row s-block-popular__content">
				<div class="col-lg-3">
					<div class=" s-block-popular__banner-wrapper">
						<div class="s-block-popular__banner banner"></div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="post post-card post-card-large s-block-popular__post-card">
						<img src="assets/images/big-post.png" alt="" class="post-card__image">
						<div class="post__brief post-card__brief post-card-large__brief">	
							<span class="post__date">04.10.2021</span>
							<span class="post-card__tags">
					   			<a href="#" class="post-card__tag">#политика</a>
				   			</span>
							<a href="#" class="post__heading"><h4>Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?</h4></a>
						</div>
						<div class="post-card__heart heart info-box-caller">
						   	<i class="fas fa-heart"></i>
						   	<div class="info-box info-box--attached">
								<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
								Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
								<div class="d-flex">
									<div class="info-box__button button button-mini mr-2">Ok</div>
									<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
								</div>
							</div>
					   	</div>
					</div>
					<div class="post post-card post-card-large s-block-popular__post-card">
						<img src="assets/images/big-post.png" alt="" class="post-card__image">
						<div class="post__brief post-card__brief post-card-large__brief">	
							<span class="post__date">04.10.2021</span>
							<span class="post-card__tags">
					   			<a href="#" class="post-card__tag">#политика</a>
				   			</span>
							<a href="#" class="post__heading"><h4>Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?</h4></a>
						</div>
						<div class="post-card__heart heart info-box-caller">
						   	<i class="fas fa-heart"></i>
						   	<div class="info-box info-box--attached">
								<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
								Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
								<div class="d-flex">
									<div class="info-box__button button button-mini mr-2">Ok</div>
									<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
								</div>
							</div>
					   	</div>
					</div>
					<div class="post post-card post-card-large s-block-popular__post-card">
						<img src="assets/images/big-post.png" alt="" class="post-card__image">
						<div class="post__brief post-card__brief post-card-large__brief">	
							<span class="post__date">04.10.2021</span>
							<span class="post-card__tags">
					   			<a href="#" class="post-card__tag">#политика</a>
				   			</span>
							<a href="#" class="post__heading"><h4>Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?</h4></a>
						</div>
						<div class="post-card__heart heart info-box-caller">
						   	<i class="fas fa-heart"></i>
						   	<div class="info-box info-box--attached">
								<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
								Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
								<div class="d-flex">
									<div class="info-box__button button button-mini mr-2">Ok</div>
									<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
								</div>
							</div>
					   	</div>
					</div>
				</div>
			</div>
		</div>
	</article>
{% endblock %}