{% extends './origin/base.html' %}
{% block title %}
Новости
{% endblock %}
{% set current_user = "True" %}


{% block content %}

	<article class="container-sm s-main-news py-5">
			<h6 class="s-main-news__heading heading mb-5">
				Избранное
			</h6>
			<div class="s-main-news__wrapper row">
				<section class="s-block-news__local-posts col-lg-6">
					<div class="post-card-grid">
						{% include './origin/post-card.html' %}	
						{% include './origin/post-card.html' %}	
						{% include './origin/post-card.html' %}	
						{% include './origin/post-card.html' %}	
						{% include './origin/post-card.html' %}	
						{% include './origin/post-card.html' %}
					</div>	
					<div class="pagination mt-4">
						<div class="pagination__button button button-circle muted">
							<i class="fas fa-angle-double-left"></i>
						</div>
						<div class="pagination__button button button-circle muted">
							<i class="fas fa-chevron-left"></i>
						</div>
						<div class="pagination__button pagination__button--active button button-circle button-spc">1</div>
						<div class="pagination__button button button-circle button-spc">2</div>
						<div class="pagination__button button button-circle button-spc">3</div>
						<div class="pagination__button button button-circle button-spc">4</div>
						<div class="pagination__button button button-circle button-spc">5</div>
						<div class="pagination__button button button-circle">
							<i class="fas fa-chevron-right"></i>
						</div>
						<div class="pagination__button button button-circle">
							<i class="fas fa-angle-double-right"></i>
						</div>
					</div>
				</section>
				<section class="s-main-news__global-posts col-lg-3">
					<div class="s-main-news__banner banner">
					</div>
					{% include './origin/post-usual.html' %}
					{% include './origin/post-usual.html' %}
					{% include './origin/post-usual.html' %}
					<div class="pagination mt-4">
						<div class="pagination__button button button-circle muted">
							<i class="fas fa-angle-double-left"></i>
						</div>
						<div class="pagination__button button button-circle muted">
							<i class="fas fa-chevron-left"></i>
						</div>
						<div class="pagination__button pagination__button--active button button-circle button-spc">1</div>
						<div class="pagination__button button button-circle button-spc">2</div>
						<div class="pagination__button button button-circle button-spc">3</div>
						<div class="pagination__button button button-circle">
							<i class="fas fa-chevron-right"></i>
						</div>
						<div class="pagination__button button button-circle">
							<i class="fas fa-angle-double-right"></i>
						</div>
					</div>
				</section>
				<section class="col-lg-3">
					<div class="s-main-news__brief-card brief-card brief-card--spc">
						<div class="brief-card__head brief-card__head--spc">По горячим следам</div>
						<div class="brief-card__wrapper p-2">
							<div class="brief-card__post mini-post">
								<a href="#" class="mini-post__heading">
									Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?
								</a>
								<span class="d-flex justify-content-between">
									<span class="mini-post__tags">
										<a href="#" class="mini-post__tag lighted">#политика</a>
									</span>
									<span class="mini-post__date">04.10.2021</span>
								</span>
							</div>
							<div class="brief-card__post mini-post">
								<a href="#" class="mini-post__heading">
									Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?
								</a>
								<span class="d-flex justify-content-between">
									<span class="mini-post__tags">
										<a href="#" class="mini-post__tag lighted">#политика</a>
									</span>
									<span class="mini-post__date">04.10.2021</span>
								</span>
							</div>
							<div class="brief-card__post mini-post">
								<a href="#" class="mini-post__heading">
									Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?
								</a>
								<span class="d-flex justify-content-between">
									<span class="mini-post__tags">
										<a href="#" class="mini-post__tag lighted">#политика</a>
									</span>
									<span class="mini-post__date">04.10.2021</span>
								</span>
							</div>
						</div>
					</div>
					<div class="s-main-news__brief-card brief-card">
						<div class="brief-card__head">Курсы криптовалют</div>
						<div class="brief-card__wrapper">
							<table class="brief-card__table">
								<tbody class="brief-card__table-body">
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</div>
	</article>
{% endblock %}