{% extends './origin/base.html' %}
{% block title %}
Новости
{% endblock %}

{% block content %}
	<article class="container-sm s-main-news">
			<h6 class="s-main-news__heading heading">
				Новости
			</h6>
			<div class="posts-nav">
				<span class="posts-nav__item info-box-caller">
					все темы
					<div class="info-box info-box--attached info-box--attached-right">
						<span class="info-box__link"><a href="#">#тема </a></span>
						<span class="info-box__link"><a href="#">#тема </a></span>
						<span class="info-box__link"><a href="#">#тема </a></span>
						<span class="info-box__link"><a href="#">#тема </a></span>
						<span class="info-box__link"><a href="#">#тема </a></span>
						<span class="info-box__link"><a href="#">#тема </a></span>
						<span class="info-box__link"><a href="#">#тема </a></span>
						<span class="info-box__link"><a href="#">#тема </a></span>
					</div>
				</span>
				<a href="#" class="posts-nav__item">DeFi</a>
				<a href="#" class="posts-nav__item">Etherium</a>
				<a href="#" class="posts-nav__item">GameFi</a>
				<a href="#" class="posts-nav__item">NFT</a>
				<a href="#" class="posts-nav__item">Альткоины</a>
			</div>
			<div class="s-main-news__wrapper row">
				<section class="s-block-news__local-posts post-card-grid col-lg-6">
				   	<div class="post post-card">
				   		<img src="assets/images/local-new.png" alt="article-thumb" class="post-card__image">
				   		<div class="post-card__brief post__brief">
				   			<span class="post-card__date">04.10.2021</span>
				   			<span class="post-card__tags">
					   			<a href="#" class="post-card__tag">#политика</a>
				   			</span>
					   		<a href="#" class="post__heading"><h4>Асимметричная криптография: Что лежит в основе биткоина</h4></a>
				   		</div>
				   		<div class="post-card__heart heart info-box-caller">
						   	<i class="fas fa-heart"></i>
						   	<div class="info-box info-box--attached">
								<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
								Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
								<div class="d-flex">
									<div class="info-box__button button button-mini mr-2">Ok</div>
									<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
								</div>
							</div>
					   	</div>
				   </div>	
				   <div class="post post-card">
				   		<img src="assets/images/local-new.png" alt="article-thumb" class="post-card__image">
				   		<div class="post-card__brief post__brief">
				   			<span class="post-card__date">04.10.2021</span>
				   			<span class="post-card__tags">
					   			<a href="#" class="post-card__tag">#политика</a>
				   			</span>
					   		<a href="#" class="post__heading"><h4>Асимметричная криптография: Что лежит в основе биткоина</h4></a>
				   		</div>
				   		<div class="post-card__heart heart info-box-caller">
						   	<i class="fas fa-heart"></i>
						   	<div class="info-box info-box--attached">
								<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
								Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
								<div class="d-flex">
									<div class="info-box__button button button-mini mr-2">Ok</div>
									<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
								</div>
							</div>
					   	</div>
				   </div>	
				   <div class="post post-card">
				   		<img src="assets/images/local-new.png" alt="article-thumb" class="post-card__image">
				   		<div class="post-card__brief post__brief">
				   			<span class="post-card__date">04.10.2021</span>
				   			<span class="post-card__tags">
					   			<a href="#" class="post-card__tag">#политика</a>
				   			</span>
					   		<a href="#" class="post__heading"><h4>Асимметричная криптография: Что лежит в основе биткоина</h4></a>
				   		</div>
				   		<div class="post-card__heart heart info-box-caller">
						   	<i class="fas fa-heart"></i>
						   	<div class="info-box info-box--attached">
								<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
								Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
								<div class="d-flex">
									<div class="info-box__button button button-mini mr-2">Ok</div>
									<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
								</div>
							</div>
					   	</div>
				   </div>	
				</section>
				<section class="s-main-news__global-posts col-lg-3">
					<div class="s-main-news__banner banner">
					</div>
					<div class="post post-usual">
						<div class="post-usual__heart heart info-box-caller">
						   	<i class="fas fa-heart"></i>
						   	<div class="heart__info-box info-box info-box--attached">
								<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
								Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
								<div class="d-flex">
									<div class="info-box__button button button-mini mr-2">Ok</div>
									<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
								</div>
							</div>
					   	</div>
						<div class="post__brief post-usual__brief">
							<a href="#" class="post__heading"><h4>Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?</h4></a>
							<span class="post__date">04.10.2021</span><a href="#" class="post-usual__tag port__tag">#политика</a>
						</div>
					</div>
					<div class="post post-usual">
						<div class="post-usual__heart heart info-box-caller">
						   	<i class="fas fa-heart"></i>
						   	<div class="heart__info-box info-box info-box--attached">
								<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
								Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
								<div class="d-flex">
									<div class="info-box__button button button-mini mr-2">Ok</div>
									<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
								</div>
							</div>
					   	</div>
						<div class="post__brief post-usual__brief">
							<a href="#" class="post__heading"><h4>Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?</h4></a>
							<span class="post__date">04.10.2021</span><a href="#" class="post-usual__tag port__tag">#политика</a>
						</div>
					</div>
					<div class="post post-usual">
						<div class="post-usual__heart heart info-box-caller">
						   	<i class="fas fa-heart"></i>
						   	<div class="heart__info-box info-box info-box--attached">
								<span class="lighted info-box__heading">Новость сохранена в Избранное.</span>
								Статистический финансовый показатель, характеризующий изменчивость цены на что-либо.
								<div class="d-flex">
									<div class="info-box__button button button-mini mr-2">Ok</div>
									<div class="info-box__button button button-mini" style="background: red;">Отмена</div>
								</div>
							</div>
					   	</div>
						<div class="post__brief post-usual__brief">
							<a href="#" class="post__heading"><h4>Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?</h4></a>
							<span class="post__date">04.10.2021</span><a href="#" class="post-usual__tag port__tag">#политика</a>
						</div>
					</div>

				</section>
				<section class="col-lg-3">
					<div class="s-main-news__brief-card brief-card brief-card--spc">
						<div class="brief-card__head brief-card__head--spc">По горячим следам</div>
						<div class="brief-card__wrapper p-2">
							<div class="brief-card__post mini-post">
								<a href="#" class="mini-post__heading">
									Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?
								</a>
								<span class="d-flex justify-content-between">
									<span class="mini-post__tags">
										<a href="#" class="mini-post__tag lighted">#политика</a>
									</span>
									<span class="mini-post__date">04.10.2021</span>
								</span>
							</div>
							<div class="brief-card__post mini-post">
								<a href="#" class="mini-post__heading">
									Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?
								</a>
								<span class="d-flex justify-content-between">
									<span class="mini-post__tags">
										<a href="#" class="mini-post__tag lighted">#политика</a>
									</span>
									<span class="mini-post__date">04.10.2021</span>
								</span>
							</div>
							<div class="brief-card__post mini-post">
								<a href="#" class="mini-post__heading">
									Жесткая политика властей РФ в отношении криптовалют: чего пытается добиться регулятор?
								</a>
								<span class="d-flex justify-content-between">
									<span class="mini-post__tags">
										<a href="#" class="mini-post__tag lighted">#политика</a>
									</span>
									<span class="mini-post__date">04.10.2021</span>
								</span>
							</div>
						</div>
					</div>
					<div class="s-main-news__brief-card brief-card">
						<div class="brief-card__head">Курсы криптовалют</div>
						<div class="brief-card__wrapper">
							<table class="brief-card__table">
								<tbody class="brief-card__table-body">
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
									<tr class="brief-card__table-row">
										<td class="brief-card__table-cell lighted">USDT/RUB</td>
										<td class="brief-card__table-cell">₽71,92</td>
										<td class="brief-card__table-cell">0.20%</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</div>
	</article>
{% endblock %}