<p>
	<b>Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта http://cryptanomy.com/ 
	</b><br><br>1. Термины<br><br>
	1.1. В Соглашении используются термины в следующих значениях:<br><br>
	1.1.1. Акцепт — полное и безоговорочное принятие Оферты путем
	осуществления действий указанных в п.4.1. Соглашения.<br><br>
	1.1.2. Контент - все объекты, доступные на Сайте, в том числе элементы
	дизайна, текст, графические изображения, иллюстрации, видео, программы для ЭВМ, базы данных, музыка, звуки и другие объекты:<br><br>
	1.1.3. Личный кабинет — закрытая от публичного доступа часть Сайта,
	доступ Пользователя к которой осуществляется с использованием Учетной
	записи.<br><br>
	1.1.4. Лицензия - право Пользователя использовать Сайт на условиях простой (неисключительной) лицензии с сохранением за Правообладателем права выдачи лицензий другим лицам.<br><br>

	1.1.5. Оферта — настоящий документ, размещенный в сети Интернет.<br><br>

	1.1.6. Сайт - автоматизированная информационная система, доступная в сети Интернет по адресу http://cryptanomy.com/ (включая поддомены).<br><br>

	1.1.7. Учетная запись Пользователя - совокупность информационных
	данных о Пользователе‚ зафиксированная в цифровом формате и необходимая для опознавания Пользователя и предоставления доступа к его личным данным, настройкам и контенту.<br><br>

	2. Общие условия<br><br>
	2.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.<br><br>
	2.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.<br><br>
	2.3. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.<br><br>
	3. Обязательства Пользователя<br><br>
	3.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.<br><br>
	3.2. Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 Г.К РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.<br><br>
	3.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274 Г.К РФ).<br><br>
	3.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.<br><br>
	3.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.<br><br>
	3.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.<br><br>
	3.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.<br><br>
	4. Обработка персональных данных<br><br>
	4.1. Присоединяясь к настоящему Соглашению и оставляя свои данные на настоящем Сайте http://cryptanomy.com/ путем заполнения соответствующих полей Пользователь в соответствии с требованиями Федерального закона №152-ФЗ «О персональных данных» выражает свое Согласие на обработку персональных данных и их передачу Администрации Сайта, выступающей в качестве оператора обработки персональных данных (далее – «Оператор»).<br><br>
	4.2. Пользователь подтверждает, что все указанные им данные принадлежат лично ему.<br><br>
	4.3. Согласие дается на обработку, в том числе с использованием средств автоматизации или без их использования, следующих персональных данных Пользователя, указанных Пользователем в размещенных на Сайте формах или в файлах, прикрепленных к формам (только в случае предоставления таких данных самим Пользователем):
	телефон;
	адрес электронной почты;
	логин;
	иных персональных данных, указанных Пользователем в формах или файлах, прикрепленных к формам.<br><br>
	4.4. Целью обработки персональных данных является их хранение и использование, в том числе:
	ответы на запросы Пользователей;
	обеспечение работы Пользователя с Сайтом Оператора;
	направление Пользователям аналитических материалов и информирование Пользователей о предстоящих мероприятиях, организуемых Оператором, а также регистрация Пользователей для участия в таких мероприятиях;
	заключение с Пользователем договоров и выполнение договорных обязательств перед Пользователем.<br><br>
	4.5. Пользователь уведомлен и согласен с тем, что обработка его персональных данных включает в себя следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных.<br><br>
	4.5. Настоящее Согласие Пользователя признается исполненным в простой письменной форме.<br><br>
	4.6. Согласие действует бессрочно с момента предоставления данных и может быть отозвано Пользователем путем подачи письменного заявления Оператору с указанием данных, определенных статьей 14 Федерального закона №152-ФЗ «О персональных данных» по адресу нахождения Администрации Сайта, указанному на настоящем Сайте.<br><br>
	4.7. Передача персональных данных Пользователя третьим лицам не осуществляется, за исключением случаев, установленных законодательством.<br><br>
	4.8. Оператор имеет право вносить изменения в настоящее Соглашение путем размещения новой редакции Соглашения.<br><br>

	5. Прочие условия<br><br>
	5.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.<br><br>
	5.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.<br><br>
	5.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.<br><br>
	5.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.<br><br>
	<b>Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.</b>
	<br><br>
	<a href="#" id="copyright">защита авторских прав</a>

</p>