<p>
	Присоединяясь к настоящему Соглашению и оставляя свои данные на настоящем Сайте http://cryptanomy.com/ путем заполнения соответствующих полей, Пользователь в соответствии с требованиями Федерального закона №152-ФЗ «О персональных данных» выражает свое Согласие на обработку персональных данных и их передачу Администрации Сайта, выступающей в качестве оператора обработки персональных данных (далее – «Оператор»).
	Пользователь подтверждает, что все указанные им данные принадлежат лично ему.
	Согласие дается на обработку, в том числе с использованием средств автоматизации или без их использования, следующих персональных данных Пользователя, указанных Пользователем в размещенных на Сайте формах или в файлах, прикрепленных к формам (только в случае предоставления таких данных самим Пользователем):<br><br>
	- телефон; <br>
	- адрес электронной почты; <br>
	- логин; <br><br>
	иных персональных данных, указанных Пользователем в формах или файлах, прикрепленных к формам.
	Целью обработки персональных данных является их хранение и использование, в том числе: <br><br>
	- ответы на запросы Пользователей; <br>
	- обеспечение работы Пользователя с Сайтом Оператора; <br>
	- направление Пользователям аналитических материалов и информирование Пользователей о предстоящих мероприятиях, организуемых Оператором, а также регистрация Пользователей для участия в таких мероприятиях; <br><br>
	заключение с Пользователем договоров и выполнение договорных обязательств перед Пользователем.
	Пользователь уведомлен и согласен с тем, что обработка его персональных данных включает в себя следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных.
	Настоящее Согласие Пользователя признается исполненным в простой письменной форме.
	Согласие действует бессрочно с момента предоставления данных и может быть отозвано Пользователем путем подачи письменного заявления Оператору с указанием данных, определенных статьей 14 Федерального закона №152-ФЗ «О персональных данных» по адресу нахождения Администрации Сайта, указанному на настоящем Сайте.
	Передача персональных данных Пользователя третьим лицам не осуществляется, за исключением случаев, установленных законодательством.<br><br>
	Оператор имеет право вносить изменения в настоящее Соглашение путем размещения новой редакции Соглашения.
</p>