<p>
	Защита авторских прав, как и защита смежных, патентных и других прав интеллектуальной собственности обеспечивается предусмотренными законодательством способами с учетом существа нарушенного права и последствий нарушения этого права» (пункт 1 статьи 150 ГК РФ).<br><br>
	Любые лица, использующие произведение, вправе осуществлять такое использование только с согласия автора или правообладателя, кроме случаев использования произведения в пределах законодательно установленных исключений (например, цитирование, распространение (продажа) экземпляров произведения, правомерно выпущенных в гражданский оборот с согласия правообладателя, и т.д.).<br><br>
	Подтверждением согласия обладателя исключительного права на произведение на его использование является лицензионный договор, заключаемый между правообладателем и пользователем (лицом, использующим произведение).
	Таким образом, для доказывания наличия нарушения исключительного права на произведение необходимо и достаточно одновременное наличие двух обстоятельств:<br><br>
	1)  факта использования произведения каким-либо способом, в том числе совершения в отношении произведения одного из видов действий, предусмотренных статьей 1270 ГК РФ;<br>
	2) отсутствия у лица, осуществляющего использование произведения, договора с правообладателем (или предшествующим лицензиатом).<br><br>
	Соответствующие способы защиты прав могут применяться по требованию правообладателей и организаций по управлению правами на коллективной основе, а также иных лиц.
	Отсутствие вины нарушителя не освобождает его от обязанности прекратить нарушение прав, а также не исключает применение в отношении нарушителя мер, направленных на защиту прав.
	В ряде случаев Гражданский кодекс устанавливает специальные способы защиты прав, предназначенные для применения только при нарушениях в отдельных случаях, в частности, нормы о возможности взыскания специальной компенсации за нарушение исключительного права.
	Защита авторских прав (Статья 1252  ГК РФ) может осуществляться путем направления претензии о нарушении и предъявлением требования к нарушителю прав:
	<br><br>
	- о признании права;<br>
	- о пресечении действий, нарушающих право или создающих угрозу его нарушения;<br>
	- о возмещении убытков (в частности, за использование без договора);<br>
	- об изъятии материального носителя (оборудования, устройств и материалов);<br>
	- о публикации решения суда о допущенном нарушении прав (такое требование может быть предъявлено к любому нарушителю исключительного права вне зависимости от наличия его вины).<br>
	<br><br>
	Следует специально отметить, что ответственность, какая установлена за бездоговорное использование произведений, несут лицензиаты, вышедшие за пределы использования произведения, установленные лицензионным договором.
	За различные случаи нарушений авторских прав законодательством установлена ответственность:
	гражданско-правовая
	административная
	уголовная
	Правообладатели понимать необходимость заранее позаботиться об охране и защите прав интеллектуальной собственности и зарегистрировать права.
</p>